/* General */

body {
    background: darkred;
}

section {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    text-align: center;
}
section h2 {
    font-size: 3em;
    font-family: Duck in Shipah;
}


.textSection .textBox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    padding: 1em;
    text-align: justify;
}
.textSection .textBox h2 {
    text-align: center;
    font-family: Duck in Shipah;
    font-size: 3em;
}


/* Specific */

#logoSection::before {
    content: "";
    width: 100vw;
    min-height: 100vh;
    top: 0; left: 0;
    background: url("../static/img/curtain-min.jpg");
    background-size: 100% 100%;
    position: fixed;
    z-index: -1;
}
#logoSection {
    font-family: Aliquam UltraLight;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logoSection img {
    width: 60%;
}


#descripFame {
    background-image: url("../static/img/descripbg.jpg");
}
#descripFame .textBox {
    font-size: 1.3em;
}

#characters {
    background: url("../static/img/curtain2-min.jpg") no-repeat center center;
    background-size: cover;
    padding: 5em 20%;
}
#charBoxesWrapper {
    padding: 5em 0;
}
.charBox {
    padding: 1em;
    margin-bottom: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}
.charBox img {
    width: 100%;
}
.charBox h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.charBox p {    
    text-align: justify;
}


@media screen and (min-width: 768px){
    .textSection .textBox {
        margin: 0 20%;
    }


    #logoSection img {
        width: 50%;
    }


    #characters {
        padding: 5em 10%;
    }
    #charBoxesWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
        row-gap: 0;
    }
}

@media screen and (min-width: 1024px) {
    html {
        /* For parallax */
        overflow: hidden;
    }

    body {
        /* For parallax */
        height: 100vh;
        perspective: 1px;
        transform-style: preserve-3d;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    /* This rule negates the scrolling effects of the navbar, which is used for the other pages */
    #navbar {
        position: absolute;
    }
    #navbar.scrolled {
        background-color: transparent;
    }
    #navbar.scrolled #nav {
        width: 100%;
        font-size: 2em;
    }

    #logoSection::before {
        /* For parallax */
        /* The scale(2) means that we multiply the background's size by 2 since it was divided by 2 by the transform */
        transform: translateZ(-1px) scale(2);
        background-position: absolute;
    }
    #logoSection {
        /* For parallax */
        transform-style: preserve-3d;
        /* In order to not overlap the next section */
        z-index: -1;
    }
    #logoSection #logoBox {
        opacity: 0;
        transition: all 1s ease-in;
    }
    #logoSection #logoBox.visible {
        opacity: 1;
    }

    #characters {
        padding: 5em 20%;
    }
}

@media screen and (min-width: 1280px) {
    .textSection .textBox {
        margin: 0 30%;
    }

    #logoSection img {
        width: 30%;
    }

    #characters {
        padding: 5em 10%;
    }
    #charBoxesWrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1600px) {
    .textSection .textBox {
        margin: 0 30%;
    }

    #characters {
        padding: 5em 20%;
    }
}
