section {
    background: url("../static/img/curtain2-min.jpg") no-repeat center center fixed;
    background-size: cover;
}
section h1 {
    font-family: Duck in Shipah;
    font-size: 3em;
}

iframe {
    margin: 2em 0;
}